---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title='Astro Template'
	description='Astro Template'>
	<main class='container mx-auto'>
		<Hero />
	</main>
</Layout>
