---
import Head from "@/components/Head.astro";
import Analytics from "@vercel/analytics/astro";
import Sidebar from "@/components/logo-studio/Sidebar";
import { ToastContainer } from "@/components/ui/Toast";

interface Props {
	title: string;
	description: string;
	lang?: string;
}

const { title, description, lang = Astro.currentLocale || "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<Head
		title={title}
		description={description}
	/>
	<body
		class="bg-zinc-50 dark:bg-zinc-950 text-slate-900 dark:text-slate-50 h-screen overflow-hidden flex transition-colors duration-200 font-sans"
	>
		<Sidebar client:only="react" lang={lang} />

		<!-- Main Content Wrapper -->
		<div class="flex-1 flex flex-col h-full relative overflow-hidden">
            <ToastContainer client:load />
			<slot />
		</div>

		<Analytics />
	</body>
</html>
